[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
sqlmodel = "*"
python-multipart = "*"
pyjwt = "*"
python-dotenv = "*"
passlib = { extras = ["bcrypt"], version = "*" }
pydantic = { extras = ["email"], version = "*" }
alembic = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
pytest = "*"
httpx = "*"
coverage = "*"
