[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
ruff = "*"
pre-commit = "*"
pytest = "*"

